# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Conda environment folders
env/
.venv/
venv/
.conda/
anaconda3/
anaconda_projects/
anaconda_projects_db/


# VS Code settings
.vscode/

# System/macOS
.DS_Store
.MACOSX/
_MACOSX/

# Jupyter temp/virtual files
.virtual_documents/
.virtual_documents/Starter_code/


# Data, logs, outputs
*.log
*.csv
*.tsv
*.xlsx
*.h5
*.db
*.sqlite

# Project-specific folders to ignore

Starter_Code/
Starter_Code(13)/
nosql-challenge/.virtual_documents/
nosql-challenge/_MACOS/
nosql-challenge/anaconda_projects/